{% extends "base.html" %} {% block title %}Post{% endblock %} {% block body %}
<div class="row">
    <div class="col-lg-9">
        <div class="row">
            <h1>{{ post.title }}</h1>
        </div>
        <div class="row">
            <a href="{{ url_for('user', user_id=post.user_id) }}">
                <h5>{{ post.user.username }}</h5>
            </a>
        </div>
        <div class="row">
            {{ post.text }}
        </div>
    </div>
    <div class="col-lg-3">
        <div class="row">
            <h5>Recent</h5>
            <ul>
                {% for post in recent %}
                <li>
                    <a href="{{ url_for('posts', post_id=post.id) }}">{{ post.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="row">
            <h5>Tags</h5>
            <ul>
                {% for tag in top_tags %}
                <li>
                    <a href="{{ url_for('tag', tag_id=tag[0].id)}}">{{ tag[0].title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<div class="col-lg-12">
    <h3>New Comment:</h3>
    <form method="POST" action="{{ url_for('posts', post_id=post.id) }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.name.label }} {{ form.name(class_="form-control") }}
        </div>
    </form>
</div>
{% endblock %}